<form [formGroup]="registrationFormGroup" (ngSubmit)="showFormGroupInConsole()">
  <div class="form-required">
    <small>Required fields<sup>*</sup></small>
  </div>
  <div class="form-row">
    <label for="firstname">Firstname</label>
    <input type="text" formControlName="firstname">
  </div>
  <div class="form-row">
    <label for="middlename">Middlename</label>
    <input type="text" formControlName="middlename">
  </div>
  <div class="form-row">
    <label for="lastname">Lastname</label>
    <input type="text" formControlName="lastname">
  </div>
  <div class="form-row">
    <label for="age">Age</label>
    <input type="text" formControlName="age">
  </div>
  <div class="form-row">
    <label for="gender">Gender</label>
    <select formControlName="gender">
      <option value=""></option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div class="form-row">
    <button type="submit">Submit</button>
  </div>
</form>